<section id="contact" class="contact section">

    <!-- Section Title -->
    <div class="container section-title" data-aos="fade-up">
        <h2>İletişim</h2>
        <p>Sorularınız, projeleriniz veya iş birlikleriniz için benimle iletişime geçmekten çekinmeyin.</p>
    </div><!-- End Section Title -->

    <div class="container" data-aos="fade" data-aos-delay="100">

        <div class="row gy-4">

            <div style="display: flex; justify-content: space-between; flex-wrap: wrap; gap: 20px;">

                <div style="flex: 1 1 30%; display: flex; align-items: center;">
                    <a href="https://maps.app.goo.gl/rq3dS1cJ24YxZLUb6" target="_blank" style="text-decoration: none; color: inherit; display: flex; align-items: center;">
                        <i class="bi bi-geo-alt flex-shrink-0" style="font-size: 24px; margin-right: 10px; color: #007bff;"></i>
                        <div>
                            <h3 style="margin: 0;">Adres</h3>
                            <p style="margin: 0;">Maltepe, İstanbul, Türkiye</p>
                        </div>
                    </a>
                </div><!-- End Info Item -->

                <div style="flex: 1 1 30%; display: flex; align-items: center;">
                    <a href="tel:+905455852445" style="text-decoration: none; color: inherit; display: flex; align-items: center;">
                        <i class="bi bi-telephone flex-shrink-0" style="font-size: 24px; margin-right: 10px; color: #007bff;"></i>
                        <div>
                            <h3 style="margin: 0;">Telefon</h3>
                            <p style="margin: 0;">+90 (545) 585 2445</p>
                        </div>
                    </a>
                </div><!-- End Info Item -->

                <div style="flex: 1 1 30%; display: flex; align-items: center;">
                    <a href="mailto:erenkar950@gmail.com" target="_blank" style="text-decoration: none; color: inherit; display: flex; align-items: center;">
                        <i class="bi bi-envelope flex-shrink-0" style="font-size: 24px; margin-right: 10px; color: #007bff;"></i>
                        <div>
                            <h3 style="margin: 0;">Email</h3>
                            <p style="margin: 0;">erenkar950@gmail.com</p>
                        </div>
                    </a>
                </div><!-- End Info Item -->

            </div>

        </div>

    </div>

</section><!-- /Contact Section -->
