<section id="resume" class="resume section">

    <!-- Section Title -->
    <div class="container section-title" data-aos="fade-up">
        <h2>Eğitim Hayatım</h2>
        <p>Eğitim Hayatım aşağıda yer almaktadır.</p>
    </div><!-- End Section Title -->

    <div class="container">

        <div class="row">

            <div class="col-lg-6" data-aos="fade-up" data-aos-delay="100">
                <h3 class="resume-title">Özet</h3>

                <div class="resume-item pb-0">
                    <h4>Muhammet Eren Karakuş</h4>
                    <p><em>Marmara Üniversitesi Bilgisayar Mühendisliği 3. sınıf öğrencisiyim. Teknolojiye olan tutkum ve sürekli öğrenme isteğimle bireysel ve grup projelerinde yenilikçi çözümler geliştirerek etkili uygulamalara imza attım. Ziraat Teknoloji'de Veri Ambarı Yönetimi üzerine yaptığım staj, teorik bilgimi pratikle birleştirerek profesyonel deneyim kazanmamı sağladı.</em></p>
                    <ul>
                        <li>Maltepe, İstanbul, Türkiye</li>
                        <li>+90(545) 585 2445</li>
                        <li><a href="mailto:erenkar950@gmail.com">erenkar950@gmail.com</a></li>
                    </ul>
                </div><!-- End Resume Item -->

                <h3 class="resume-title">Eğitim</h3>
                <div class="resume-item">
                    <h4>Marmara Üniversitesi Bilgisayar Mühendisliği</h4>
                    <h5>2022 - Halen</h5>
                    <p><em>Marmara Üniversitesi, Maltepe, İstanbul</em></p>
                    <p>Marmara Üniversitesi Bilgisayar Mühendisliği bölümünde lisans eğitimime devam ediyorum. Alanımda derinlemesine bilgi edinmek ve teknolojik yeniliklere adapte olmak için sürekli öğrenme ve gelişim odaklı bir yaklaşımla ilerliyorum.</p>
                </div><!-- Edn Resume Item -->

            </div>

            <div class="col-lg-6" data-aos="fade-up" data-aos-delay="200">
                <h3 class="resume-title">Profesyonel Deneyimler</h3>
                <div class="resume-item">
                    <h4>Veri Ambarı Yönetimi</h4>
                    <h5>Temmuz 2024 - Eylül 2024</h5>
                    <p><em>Ziraat Teknoloji, İstanbul Finans Merkezi </em></p>
                    <ul>
                        <li>Ziraat Teknoloji'de Veri Ambarı Yönetimi alanında 3 aylık staj sürecinde, sektöre dair ileri düzey deneyimler kazanma fırsatı buldum. </li>
                        <li>Şirketin sunduğu gelişmiş teknolojik altyapı sayesinde; Veri Ambarı, ETL-ELT süreçleri, Oracle Databases, ODI (Oracle Data Integrator), PL/SQL ve SQL gibi kritik alanlarda uygulamalı projeler geliştirdim ve uzmanlık kazandım. </li>
                        <li>Bu deneyim, teknik becerilerimi bir üst seviyeye taşımanın yanı sıra, profesyonel iş süreçlerini daha iyi anlamama katkı sağladı.</li>
                    </ul>
                </div><!-- Edn Resume Item -->

                <div class="resume-item">
                    <h4>QNB 101 Online Staj Programı</h4>
                    <h5>Şubat 2025 - Mart 2025</h5>
                    <p><em>QNB Türkiye</em></p>
                    <ul>
                        <li>QNB staj programı süresince, bankacılık, teknoloji ve kariyer alanında çeşitli eğitimler aldım.</li>
                        <li>Online ortamda, şirket yetkilileri ve sektörden isimlerle buluşma şansı yakaladım.</li>
                        <li>Bu deneyim, sektörel bilgi birikimimi artırarak profesyonel bağlantılar kurmama büyük katkı sağladı.</li>
                    </ul>
                </div><!-- End Resume Item -->

                <div class="resume-item">
                    <h4>Acunmedya Akademi Staj Programı</h4>
                    <h5>Kasım 2024 - Halen</h5>
                    <p><em>Acunmedya Akademi</em></p>
                    <ul>
                        <li>C#, .NET ve SQL teknolojilerini kullanarak çeşitli yazılım projeleri geliştirdim.</li>
                        <li>Gerçek hayat senaryolarına dayalı projeler üzerinde çalışarak pratik deneyim kazanıyorum.</li>
                        <li>Teknoloji ve yazılım alanında profesyonel bağlantılar kurarak sektörel bilgi birikimimi artırdım.</li>
                    </ul>
                </div><!-- End Resume Item -->



            </div>

        </div>

    </div>

</section><!-- /Resume Section -->
