<section id="testimonials" class="testimonials section">

    <!-- Section Title -->
    <div class="container section-title" data-aos="fade-up">
        <h2>Referanslar</h2>
    </div><!-- End Section Title -->

    <div class="container" data-aos="fade-up" data-aos-delay="100">

        <div class="swiper init-swiper">
            <script type="application/json" class="swiper-config">
                {
                  "loop": true,
                  "speed": 600,
                  "autoplay": {
                    "delay": 5000
                  },
                  "slidesPerView": "auto",
                  "pagination": {
                    "el": ".swiper-pagination",
                    "type": "bullets",
                    "clickable": true
                  }
                }
            </script>
            <div class="swiper-wrapper">

                <div class="swiper-slide">
                    <div class="testimonial-item">
                        <div class="row gy-4 justify-content-center">
                            <div class="col-lg-6">
                                <div class="testimonial-content">
                                    <p>
                                        <i class="bi bi-quote quote-icon-left"></i>
                                        <span>
                                            "Eren, teknolojiye olan ilgisi ve öğrenme isteğiyle dikkat çeken bir öğrenci.
                                            Kendini geliştirme konusundaki azmi ve yeniliklere açık yapısı, onu gelecekte başarılı projelerde göreceğimizin bir garantisi.
                                            Teknolojik gelişmelere uyum sağlama ve derinlemesine öğrenme konusundaki kararlılığı takdire şayan."
                                        </span>
                                        <i class="bi bi-quote quote-icon-right"></i>
                                    </p>
                                    <h3>Hıdır Üstündağ</h3>
                                    <h4>OYEDU Co-Founder</h4>
                                    <div class="stars">
                                        <i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-2 text-center">
                                <img src="~/MyResume-1.0.0/assets/img/testimonials/hidirustundagFoto2.jpeg" class="img-fluid testimonial-img" alt="Hıdır Üstündağ Fotoğrafı">
                            </div>
                        </div>
                    </div>
                </div><!-- End testimonial item -->


                <div class="swiper-slide">
                    <div class="testimonial-item">
                        <div class="row gy-4 justify-content-center">
                            <div class="col-lg-6">
                                <div class="testimonial-content">
                                    <p>
                                        <i class="bi bi-quote quote-icon-left"></i>
                                        <span>
                                            "Eren, yazılım geliştirme ve teknolojiye olan tutkusuyla dikkat çeken bir öğrenciydi.
                                            Hem Udemy kurslarımdan hem de birebir derslerimde göstermiş olduğu öğrenme azmi ve disipliniyle fark yarattı.
                                            Zorluklar karşısındaki kararlılığı ve yeniliklere açık yaklaşımı, onun başarıya ulaşmasında önemli bir rol oynayacaktır."
                                        </span>
                                        <i class="bi bi-quote quote-icon-right"></i>
                                    </p>
                                    <h3>Murat Yücedağ</h3>
                                    <h4>Yazılım Mühendisi - Eğitmen</h4>
                                    <div class="stars">
                                        <i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-2 text-center">
                                <img src="~/MyResume-1.0.0/assets/img/testimonials/muratyucedagFoto2.jpeg" class="img-fluid testimonial-img" alt="Murat Yücedağ Fotoğrafı">
                            </div>
                        </div>
                    </div>
                </div><!-- End testimonial item -->


                <div class="swiper-slide">
                    <div class="testimonial-item">
                        <div class="row gy-4 justify-content-center">
                            <div class="col-lg-6">
                                <div class="testimonial-content">
                                    <p>
                                        <i class="bi bi-quote quote-icon-left"></i>
                                        <span>
                                            "Eren, yazılım geliştirme ve teknoloji konularında hem teorik hem de pratik bilgiye olan ilgisiyle dikkat çeken bir öğrenci.
                                            Udemy platformunda aldığımız derslerdeki soruları ve etkin katılımıyla fark yarattı. Ayrıca Marmara Üniversitesi'ndeki TeaTalk etkinliğinde gösterdiği organizasyon becerileri ve iletişim yetenekleri, liderlik potansiyelini gözler önüne serdi.
                                            Gelecekte başarılı projelerde yer alacağından eminim."
                                        </span>
                                        <i class="bi bi-quote quote-icon-right"></i>
                                    </p>
                                    <h3>Mehmet Öcal</h3>
                                    <h4>VODAFONE - Yazılım Mühendisi</h4>
                                    <div class="stars">
                                        <i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-2 text-center">
                                <img src="/MyResume-1.0.0/assets/img/testimonials/mehmetocalFoto.jpg" class="img-fluid testimonial-img" alt="Mehmet Öcal Fotoğrafı">
                            </div>
                        </div>
                    </div>
                </div><!-- End testimonial item -->


                <div class="swiper-slide">
                    <div class="testimonial-item">
                        <div class="row gy-4 justify-content-center">
                            <div class="col-lg-6">
                                <div class="testimonial-content">
                                    <p>
                                        <i class="bi bi-quote quote-icon-left"></i>
                                        <span>
                                            "Eren, Acunmedya Akademi'de gösterdiği disiplinli çalışma ve öğrenme azmiyle ön plana çıkan bir öğrenci.
                                            Eğitim programı süresince sergilediği kararlılık ve sorumluluk bilinci, onun potansiyelini ortaya koymaktadır.
                                            Teknolojiye olan ilgisi ve proje geliştirme konusundaki yenilikçi yaklaşımı sayesinde, gelecekte sektöre önemli katkılar sağlayacağını düşünüyorum."
                                        </span>
                                        <i class="bi bi-quote quote-icon-right"></i>
                                    </p>
                                    <h3>Esra Cufadaroğlu</h3>
                                    <h4>Acunmedya Akademi - Eğitim Koordinatörü</h4>
                                    <div class="stars">
                                        <i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-2 text-center">
                                <img src="/MyResume-1.0.0/assets/img/testimonials/esracufadarogluFoto.jpg" class="img-fluid testimonial-img" alt="Esra Cufadaroğlu Fotoğrafı">
                            </div>
                        </div>
                    </div>
                </div><!-- End testimonial item -->

                <div class="swiper-slide">
                    <div class="testimonial-item">
                        <div class="row gy-4 justify-content-center">
                            <div class="col-lg-6">
                                <div class="testimonial-content">
                                    <p>
                                        <i class="bi bi-quote quote-icon-left"></i>
                                        <span>
                                            "Eren, Acunmedya Akademi'deki eğitim programı süresince gösterdiği özveri ve kararlılıkla dikkat çeken bir öğrenci.
                                            Analitik düşünme yeteneği ve teknolojik yeniliklere hızla adapte olma becerisi, onu diğerlerinden ayıran özellikler arasında yer alıyor.
                                            Eğitim sürecindeki etkili iletişim becerileri ve ekip çalışmalarına olan katkısı, profesyonel kariyerinde sağlam adımlarla ilerleyeceğinin bir göstergesi."
                                        </span>
                                        <i class="bi bi-quote quote-icon-right"></i>
                                    </p>
                                    <h3>Gökhan Mutlay</h3>
                                    <h4>Acunmedya Akademi - Managing Partner</h4>
                                    <div class="stars">
                                        <i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-2 text-center">
                                <img src="/MyResume-1.0.0/assets/img/testimonials/gokhanmutlayFoto.jpg" class="img-fluid testimonial-img" alt="Gökhan Mutlay Fotoğrafı">
                            </div>
                        </div>
                    </div>
                </div><!-- End testimonial item -->




            </div>
            <div class="swiper-pagination"></div>
        </div>

    </div>

</section><!-- /Testimonials Section -->
