
<section id="portfolio" class="portfolio section">

    <!-- Section Title -->
    <div class="container section-title" data-aos="fade-up">
        <h2>Portfolyo</h2>
        <p>Bu kısımda hem bireysel hem ekip arkadaşlarımla beraber geliştirdiğimiz projeler yer almaktadır.</p>
    </div><!-- End Section Title -->

    <div class="container">

        <div class="isotope-layout" data-default-filter="*" data-layout="masonry" data-sort="original-order">

            <ul class="portfolio-filters isotope-filters" data-aos="fade-up" data-aos-delay="100">
                <li data-filter="*" class="filter-active">Projeler</li>
                
            </ul><!-- End Portfolio Filters -->

            <div class="row gy-4 isotope-container" data-aos="fade-up" data-aos-delay="200">

                <div class="col-lg-4 col-md-6 portfolio-item isotope-item filter-app">
                    <img src="~/MyResume-1.0.0/assets/img/masonry-portfolio/sanalbellekFoto.jpg" class="img-fluid" alt="Sanal Bellek Yönetimi Görseli">
                    <div class="portfolio-info">
                        <h4>Sanal Bellek Yönetimi</h4>
                        <p>
                            Bu proje, bellek tahsisi, serbest bırakılması ve verilerin etkin bir şekilde saklanmasını sağlamak için gelişmiş bellek yönetimi algoritmalarını içerir.
                            Ayrıca, performans değerlendirmesi amacıyla bir zamanlayıcı (Timer) mekanizması kullanılarak sistem optimizasyonu sağlanmıştır. Proje, bellek bloklarının
                            dinamik yönetimi ve kaynakların verimli kullanımı üzerine odaklanmıştır.
                        </p>
                        <a href="/MyResume-1.0.0/assets/img/masonry-portfolio/sanalbellekFoto2.jpg" title="Sanal Bellek Yönetimi" data-gallery="portfolio-gallery-app" class="glightbox preview-link">
                            <i class="bi bi-zoom-in"></i>
                        </a>
                        <a href="https://github.com/eren-karakus0/VirtualMemoryManagement" target="_blank" title="Github Repository" class="details-link">
                            <i class="bi bi-link-45deg"></i>
                        </a>
                    </div>
                </div><!-- End Portfolio Item -->


                <div class="col-lg-4 col-md-6 portfolio-item isotope-item filter-app">
                    <img src="/MyResume-1.0.0/assets/img/masonry-portfolio/donateappFoto.jpg" class="img-fluid" alt="Yardım Bağışı Uygulaması Görseli">
                    <div class="portfolio-info">
                        <h4>Yardım Bağışı Uygulaması</h4>
                        <p>
                            Bu proje, bağış organizasyonlarını ve etkinliklerini etkin bir şekilde yönetmek, bağış süreçlerini kolaylaştırmak ve şeffaflık sağlamak amacıyla geliştirilmiştir.
                            Sistem, bağışçılar, gönüllüler, bağış türleri ve organizasyonlar arasındaki ilişkileri izlemeyi ve optimize etmeyi hedefleyen kapsamlı bir bağış yönetim platformudur.
                        </p>
                        <a href="~/MyResume-1.0.0/assets/img/masonry-portfolio/donateappFoto2.png"
                           title="Yardım Bağışı Uygulaması"
                           data-gallery="portfolio-gallery-app"
                           class="glightbox preview-link">
                            <i class="bi bi-zoom-in"></i>
                        </a>
                        <a href="https://github.com/eren-karakus0/Donate-Application"
                           target="_blank"
                           title="Github Repository"
                           class="details-link">
                            <i class="bi bi-link-45deg"></i>
                        </a>
                    </div>
                </div><!-- End Portfolio Item -->


                <div class="col-lg-4 col-md-6 portfolio-item isotope-item filter-app">
                    <img src="/MyResume-1.0.0/assets/img/masonry-portfolio/mp3playerFoto.jpg" class="img-fluid" alt="MP3 Oynatıcı Görseli">
                    <div class="portfolio-info">
                        <h4>MP3 Oynatıcı</h4>
                        <p>
                            Bu proje, kullanıcılara gelişmiş bir müzik dinleme deneyimi sunmayı hedeflemektedir. Kullanıcılar; müzik çalma, şarkıları beğenme,
                            ileri ve geri şarkı geçişleri yapma gibi çeşitli işlemleri gerçekleştirebilmektedir. Ayrıca, müziklerin kapak resimleri ve diğer
                            detayları da kullanıcıya gösterilmektedir.
                        </p>
                        <a href="/MyResume-1.0.0/assets/img/masonry-portfolio/mp3playerFoto2.png"
                           title="MP3 Oynatıcı"
                           data-gallery="portfolio-gallery-app"
                           class="glightbox preview-link">
                            <i class="bi bi-zoom-in"></i>
                        </a>
                        <a href="https://github.com/eren-karakus0/MP3Player"
                           target="_blank"
                           title="Github Repository"
                           class="details-link">
                            <i class="bi bi-link-45deg"></i>
                        </a>
                    </div>
                </div><!-- End Portfolio Item -->


                <div class="col-lg-4 col-md-6 portfolio-item isotope-item filter-app">
                    <img src="/MyResume-1.0.0/assets/img/masonry-portfolio/AssemblyFoto1.jpg" class="img-fluid" alt="Assembly Random Sayı Üretici Görseli">
                    <div class="portfolio-info">
                        <h4>Assembly Random Sayı Üretici</h4>
                        <p>
                            Bu proje, Emu8086 simülatöründe çalışmak üzere geliştirilmiş bir rastgele sayı üretici algoritma içermektedir.
                            Sistem, 1 ile 9 arasında rastgele sayılar üreterek çeşitli uygulamalarda kullanılabilecek bir temel sağlar.
                            Proje, düşük seviyeli programlama mantığını anlamak ve optimize etmek amacıyla tasarlanmıştır.
                        </p>
                        <a href="~/MyResume-1.0.0/assets/img/masonry-portfolio/AssemblyFoto2.jpg"
                           title="Assembly Random Sayı Üretici"
                           data-gallery="portfolio-gallery-app"
                           class="glightbox preview-link">
                            <i class="bi bi-zoom-in"></i>
                        </a>
                        <a href="https://github.com/eren-karakus0/RandomNumber"
                           target="_blank"
                           title="Github Repository"
                           class="details-link">
                            <i class="bi bi-link-45deg"></i>
                        </a>
                    </div>
                </div><!-- End Portfolio Item -->


                <div class="col-lg-4 col-md-6 portfolio-item isotope-item filter-app">
                    <img src="/MyResume-1.0.0/assets/img/masonry-portfolio/todolistFoto1.jpg" class="img-fluid" alt="To Do List Uygulaması Görseli">
                    <div class="portfolio-info">
                        <h4>To Do List</h4>
                        <p>
                            Python ve tkinter kütüphanesi kullanılarak geliştirilen bu yapılacaklar listesi uygulaması, kullanıcıların görevlerini etkili bir şekilde yönetmelerine olanak tanır.
                            Uygulama, görev ekleme, silme, düzenleme ve önceliklendirme gibi özellikler sunarak kullanıcıların günlük işlerini organize etmelerine yardımcı olur.
                        </p>
                        <a href="/MyResume-1.0.0/assets/img/masonry-portfolio/todolistFoto2.jpg"
                           title="To Do List"
                           data-gallery="portfolio-gallery-app"
                           class="glightbox preview-link">
                            <i class="bi bi-zoom-in"></i>
                        </a>
                        <a href="https://github.com/eren-karakus0/To-Do-List"
                           target="_blank"
                           title="Github Repository"
                           class="details-link">
                            <i class="bi bi-link-45deg"></i>
                        </a>
                    </div>
                </div><!-- End Portfolio Item -->


                <div class="col-lg-4 col-md-6 portfolio-item isotope-item filter-app">
                    <img src="/MyResume-1.0.0/assets/img/masonry-portfolio/duyuruappFoto1.jpg" class="img-fluid" alt="Duyuru İşlemleri Otomasyonu Görseli">
                    <div class="portfolio-info">
                        <h4>Duyuru İşlemleri Otomasyonu</h4>
                        <p>
                            Java ile geliştirilen bu duyuru işlemleri otomasyonu, kullanıcıların duyuru ekleme, silme ve güncelleme gibi işlemleri kolayca gerçekleştirmesine olanak tanır.
                            Sistem, kullanıcı giriş ekranı, duyuru arşivleme ve duyuruların görüntülendiği tablo yapılarıyla donatılmıştır. Bu özellikler, duyuru süreçlerini düzenlemek ve yönetmek için pratik bir çözüm sunar.
                        </p>
                        <a href="/MyResume-1.0.0/assets/img/masonry-portfolio/duyuruappFoto2.jpg"
                           title="Duyuru İşlemleri Otomasyonu"
                           data-gallery="portfolio-gallery-app"
                           class="glightbox preview-link">
                            <i class="bi bi-zoom-in"></i>
                        </a>
                        <a href="https://github.com/eren-karakus0/Announcement-Process-Automation"
                           target="_blank"
                           title="Github Repository"
                           class="details-link">
                            <i class="bi bi-link-45deg"></i>
                        </a>
                    </div>
                </div><!-- End Portfolio Item -->


            </div><!-- End Portfolio Container -->

        </div>

    </div>

</section><!-- /Portfolio Section -->
